NEXT_PUBLIC_BASE_URL=http://localhost:3001
NEXT_PUBLIC_FIREBASE_CONFIG={"apiKey": "AIzaSyDe1Dov23-EZNx0A_ibvJ7HUIF8xVqT_LI","authDomain": "game-project-service.firebaseapp.com","projectId": "game-project-service","storageBucket": "game-project-service.appspot.com","messagingSenderId": "541579270447","appId": "1:541579270447:web:e9a15936e3fa672dfce9da"}
NODE_ENV=development