@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

input {
  -webkit-appearance: none;
  text-align: left;
  -webkit-rtl-ordering: left;
}
input::-webkit-file-upload-button {
  -webkit-appearance: none;
  float: right;
  margin: 0 0 0 10px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

.react-datepicker__input-container input {
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #d1d5db;
  border-style: solid;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 0;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  background-clip: padding-box;
  background-color: #ffffff;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 100%;
}
